<div class="container mt-1">
    <div *ngIf="(basket$ | async) === null">
        <p>There are no items in your basket</p>
    </div>
    
    <div *ngIf="(basket$ | async) as basket">
        <div class="pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-12 py-5 mb-1">
                        <div class="table-responsive">
                            <thead>
                                <tr>
                                    <th class="border-0 bg-light col-md-4 col-sm-4" scope="col">
                                        <div class="p-2 text-uppercase">Product</div>
                                    </th>
                                    <th class="border-0 bg-light col-md-2 col-sm-2" scope="col">
                                        <div class="py-2 text-center text-uppercase">Price</div>
                                    </th>
                                    <th class="border-0 bg-light col-md-2 col-sm-2" scope="col">
                                        <div class="py-2 text-center text-uppercase">Quantity</div>
                                    </th>
                                    <th class="border-0 bg-light col-md-2 col-sm-2" scope="col">
                                        <div class="py-2 text-center text-uppercase">Total</div>
                                    </th>
                                    <th class="border-0 bg-light col-md-2 col-sm-2" scope="col">
                                        <div class="py-2 text-center text-uppercase">Remove</div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of basket.items">
                                    <th scope="row">
                                        <div class="p-2 d-flex justify-content-between">
                                            <img src="{{item.pictureUrl}}" alt="{{item.productName}}" class="img-fluid col-2" style="max-height: 50px;">

                                            <div class="mx-3 d-inline-block align-middle col-10">
                                                <h5 class="my-1">
                                                    <a routerLink="/shop/{{item.id}}" class="text-dark text-decoration-none">{{item.productName}}</a>
                                                </h5>
                                                <span class="text-muted font-weight-normal d-block">Type: {{item.type}}</span>
                                            </div>
                                        </div>
                                    </th>
                                    <td class="align-middle text-center"><strong>{{item.price | currency}}</strong></td>
                                    <td class="align-middle ">
                                        <div class="text-center col-md-12 col-sm-12">
                                            <i class="fa fa-minus-circle text-warning mx-2" style="cursor: pointer; font-size: 2em;" (click)="decrementItemQuantity(item)"></i>
                                             <span class="font-weight-bold" style="font-size: 1.5em;">{{item.quantity}}</span>
                                            <i class="fa fa-plus-circle text-warning mx-2" style="cursor: pointer; font-size: 2em;" (click)="incrementItemQuantity(item)"></i>
                                        </div>
                                    </td>
                                    <td class="align-middle text-center">
                                        <strong>{{item.price * item.quantity | currency}}</strong>
                                    </td>
                                    <td class="align-middle text-center">
                                        <a class="text-danger text-center">
                                            <i class="fa fa-trash" style="font-size: 2em; cursor: pointer;" (click)="removeBasketItem(item)"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 offset-6">
                        <app-order-totals></app-order-totals>
                        <a routerLink="/checkout" class="btn btn-outline-primary py-2 w-100">Proceed to checkout</a>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</div>