<div class="container mt-3">
    <div class="row">
        <!-- Filters -->
        <section class="col-md-3 col-sm-12">

            <h5 class="text-warning ml-3 mt-4 mb-3">Sorts</h5>
            <div class="form-group col-md-3 col-sm-12">
                <select class="custom-select mb-4" (change)="onSortSelected($event.target.value)">
                    <option *ngFor="let sort of sortOptions"
                    [value]="sort.value"
                >
                    {{sort.name}}
                </option>
                    
                </select>
            </div>

       
            <h5 class="text-warning ml-3">Brands</h5>
            <ul class="list-group my-3">
                <li class="list-group-item " aria-current="true"
                 *ngFor="let brand of brands"
                 [class.active]="brand.id === this.shopParams.brandId"
                 [value]="brand.id"
                 (click)="onBrandSelected(brand.id)"
                >
                    {{brand.name}}
                </li>
            </ul>

            <h5 class="text-warning ml-3">Types</h5>

            <ul class="list-group my-3">
                <li class="list-group-item" aria-current="true"
                 *ngFor="let type of types"
                 [class.active]="type.id === this.shopParams.typeId"
                 [value]="type.id"
                 (click)="onTypeSelected(type.id)"
                >
                    {{type.name}}
                </li>
               
            </ul>
        </section>

        <!-- Main Content -->
        <section class="col-md-9">
           <div class="d-flex justify-content-between align-items-center pb-2 col-md-12 col-sm-12">

               <!-- paging header -->
                <app-paging-header
                
                [totalCount]="totalCount"
                [pageSize]="this.shopParams.pageSize"
                [pageNumber]="this.shopParams.pageNumber"
                ></app-paging-header>

                
                <div class="d-flex justify-content-between align-items-center ">

                    <input type="text" class="form-control mx-5" style="width: 300px;" placeholder="Search"
                    #search
                    (keyup.enter)="onSearch()"
                    >

                    <button class="btn btn-outline-primary mx-2" (click)="onSearch()" >Search</button>
                    <button class="btn btn-outline-success my-2" (click)="onRest()">Reset</button>
                </div>
                
           </div>

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
              <div class="col-md-4 col-sm-12" *ngFor="let item of products">
                <!-- product item -->
                <app-product-item [product]="item"></app-product-item>
              </div>
            </div>

            <div class="d-flex justify-content-center mt-2" *ngIf="totalCount > 0">
                
                <!-- pagination component -->
                <app-pager
                    [pageSize]="shopParams.pageSize"
                    [totalCount]="totalCount"
                    (pageChanged)="onPageChanged($event)"
                ></app-pager>
            </div>
        </section>

    </div>
</div>

