<div class="d-flex flex-column flex-md-row align-items-center justify-content-between pb-3 mb-4 
border-bottom container-fluid  fixed-top">

    <!-- <img src="/assets/images/logo.png" style="max-height: 70px;" alt="logo"> -->
    <h3>Store</h3>

    <nav class="d-flex py-2 text-uppercase" style="font-size: larger;">
      <a class="mx-3 py-2 text-dark text-decoration-none" href="#">Home</a>
      <a class="mx-3 py-2 text-dark text-decoration-none" href="#">Shop</a>
      <a class="mx-3 py-2 text-dark text-decoration-none" href="#">Contact</a>
    </nav>

    <div class="d-flex align-items-center">
      <a class="position-relative mx-5">
          <i class="fa fa-shopping-cart fa-2x mr-5 text-dark"></i>
          <div class="cart-no">5</div>
      </a>
      <a class="mx-3 py-2 btn btn-outline-secondary mr-2">Logn in</a>
      <a class="mx-3 py-2 btn btn-outline-secondary mr-3">Sign up</a>
    </div>
  </div>