<div class="d-flex flex-column flex-md-row align-items-center justify-content-between pb-3 mb-4 
border-bottom container fixed-top bg-white">

    <!-- <img src="/assets/images/logo.png" style="max-height: 70px;" alt="logo" class="logo" routerLink="/"> -->
    <h2 class="w-100 text-uppercase" style="cursor: pointer;" routerLink="/">store</h2>
    

    <nav class="d-flex py-2 text-uppercase" style="font-size: larger;">
      <a class=" mx-3 py-2 " [routerLink]="['/']" routerLinkActive="active"
       [routerLinkActiveOptions]="{exact: true}">Home</a>
      <a class=" mx-3 py-2 " routerLink="/shop" routerLinkActive="active">Shop</a>
      <a class=" mx-3 py-2 " routerLink="/test-error" routerLinkActive="active">Errors</a>
    </nav>

    <div class="d-flex align-items-center">
      <a routerLink="/basket" class="position-relative mx-5">
          <i class="fa fa-shopping-cart fa-2x mr-5 text-dark"></i>
          <div class="cart-no" *ngIf="(basket$ | async) as basket">{{basket.items.length}}</div>
      </a>

      <ng-container *ngIf="(currentUser$ |async) === null">
        <a class="mx-3 py-2 btn btn-outline-secondary mr-2" routerLink="/account/login">Logn in</a>
        <a class="mx-3 py-2 btn btn-outline-secondary mr-3" routerLink="/account/register">Sign up</a>
      </ng-container>

      <ng-container *ngIf="currentUser$ |async">
        <div class="dropdown ml-3 mr-5" dropdown>
          <a class="dropdown-toggle" style="cursor: pointer;" dropdownToggle>
            <strong>Welcome {{(currentUser$ | async).displayName}}</strong>
          </a>
          <div class="dropdown-menu dropdown-menu-end" style="cursor: pointer;" *dropdownMenu>

            <a class="dropdown-item d-flex align-items-center py-2" routerLink="/basket">

              <i class="fa fa-shopping-cart mx-3"></i>View Basket
            </a>

            <a class="dropdown-item d-flex align-items-center py-2" routerLink="/orders">
              <i class="fa fa-history mx-3"></i>View Orders
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item d-flex align-items-center py-2" (click)="logout()">
              <i class="fa fa-sign-out mx-3"></i>Logout
            </a>

          </div>
        </div>
        
      </ng-container>
    </div>
  </div>